h1 {
    text-align: center; 
    color: gold;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:overline;
    text-transform: uppercase;
    size: 25px;
}

h2 {
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    size: 20px;
    background-color:rgb(0, 183, 255);
}

h3{
    text-align: right;
    text-decoration: line-through;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px red;
    background-color: aquamarine;
}

#contenedor1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: ejemplo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes ejemplo {
    0% {background-color: red; left:0px; top:0px}
    50% {background-color: blue; left:400px; top:400px}
    100% {background-color: yellow; left:0px; top:0px}
}


#contenedor2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: ejemplo2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes ejemplo2 {
    0% {background-color: red; left:0px; top:0px}
    50% {background-color: blue; left:400px; top:400px}
    100% {background-color: yellow; left:0px; top:0px}
}

